[data-md-color-primary="deep-purple"] .md-header {
	background-color: #4F276E !important;
}
.md-footer-nav {
	background-color: #f9f9f9 !important;
	color: #7E57CB;
}
.md-footer-meta {
	background-color:#4F276E !important;
}

.deprecated{
	font-weight: bold;
	border:1px solid chocolate;
	padding:2em;
	background-color: antiquewhite;
	margin-bottom: 5em;
}